@charset "utf-8";

/* -------------------------- *\
	Content
\* -------------------------- */
/**
 * Content ............ You are reading it!
 * Globel ............ Set common styles
 * Layout ............ Set grid styles
 * Component ............ Set component styles
 * Utility ............ Set some tools style
 */

/* -------------------------- *\
	Globel 共用 (style.css 就不會寫到這)
\* -------------------------- */
.hero-bg-grey{
	background-color: #efefef;
}
.hero-bg-blue{
	background-color: #185ADB;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* -------------------------- *\
	Layout
\* -------------------------- */
/* grid system */

/* 不用推上下padding的容器 */
.container{
	max-width: 1152px;
	width: 100%;
	margin: 0 auto;
	padding: 0px 16px;
}
/* 上下需推 padding 的容器 */
.hero-container{
	max-width: 1152px;
	width: 100%;
	margin: 0 auto;
	padding: 80px 16px;
}
/* 排列方式 */
.d-horizontal{
	display: flex;
	flex-direction: row;
	gap: 24px;
	align-items: center;
	
}
.d-vertical{
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.vertical-48{
	display: flex;
	flex-direction: column;
	gap:48px
}

.hero-grid {
	display: grid;
	gap: 24px;
	align-items: center;
}

.hero-flex{
	display: flex;
	flex-direction: row;
	gap: 24px;
}
.hero-flex.m-2col {
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 24px;
	flex-wrap: nowrap; /* 不要換行 */
}

.description-text {
	display: flex;
	flex-direction: column;
	gap: 16px;
}


@media screen and (max-width: 768px) {
	.container {
		padding: 0px 16px;
	  }
	.hero-container{
		padding: 60px 16px;
	  }
	.hero-grid.m-2col {
		grid-template-columns: 1fr;
	  }
	
	  .image-manual {
		background-position: center;
		width: auto;             /* 寬度由圖片決定 */
		max-width: 120px;        /* 限制最大寬度避免太大 */
		aspect-ratio: 4 / 3;     /* 或用固定高度也行 */
		flex-shrink: 0;          /* 不允許壓縮 */
		border-radius: 12px;
	  }
	.description-text,
  	.image-block {
		order: unset;
		}
	.hero-grid {
		flex-direction: column; /* 改為直向排列 */
		}
	.image-block {
		order: 2; /* 圖片放下面 */
		}
	.hero-title {
		order: 1; /* 文字放上面 */
	}

  	.hero-grid {
		flex-direction: column; /* 改為直向排列 */
		}
	.image-block {
		order: 2; /* 圖片放下面 */
		}
	.hero-title {
		order: 1; /* 文字放上面 */
  	}

	  
}
.hero-grid.m-1col {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 電腦版兩欄 */
  gap: 24px;
}
.d-2col-1col {
	display: grid;
	grid-template-columns: 2fr 1fr; /* 電腦版文左2右1 */
	gap: 24px;
  }
.hero-grid.d-5col-7col {
	display: grid;
	grid-template-columns: 5fr 7fr; /* 電腦版左5右7 */
	gap: 24px;
  }

/* 手機版：切換成一欄 */
@media screen and (max-width: 768px) {
.hero-grid.m-1col {
    grid-template-columns: 1fr;
  }
.d-2col-1col {
    grid-template-columns: 1fr;
	gap:8px;
  }
.hero-grid.d-5col-7col {
    grid-template-columns: 1fr;
  }

}
/* -------------------------- *\
	Component
\* -------------------------- */


/* image container */
.image-container{
    border-radius: 20px;
	width: 100%;
}
.image-container:before{
	content: '';
	display: block;
	width: 100%;
	padding-top: 75%;
}
.image-container .image{
	border-radius: 20px;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.image-skill-logo{
	width: 100%;
	height: 48px; 
	background-size: contain;
	background-repeat: no-repeat;
}
.image-manual {
	background-size: contain;
	background-position: left;
	background-repeat: no-repeat;
	height: 80px;
	width: auto;
	max-width: 80px;
	aspect-ratio: 4 / 3;
	flex-shrink: 0;
	border-radius: 12px;
  }
@media screen and (max-width: 768px) {

	  .image-manual {
		background-position: center;
		width: auto;             /* 寬度由圖片決定 */
		max-width: 120px;        /* 限制最大寬度避免太大 */
		aspect-ratio: 4 / 3;     /* 或用固定高度也行 */
		flex-shrink: 0;          /* 不允許壓縮 */
		border-radius: 12px;
	  }
}

/* 通用標籤樣式 */
.tag {
    position: absolute;
    padding: 8px 8px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border-radius: 4px;
}

.tag::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}

/* Hero Section */
.jumbotron{
	padding-top: 80px;
	padding-bottom: 80px;
	/* background-image: url('../images/bg/hero_banner.png'); */
	background-size: cover;
	background-attachment: fixed;
}

.center {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: baseline;
}

/* graphic 靠左標籤 */
.tag-graphic {
	z-index: 200;
    background-color: #e6007e;
	top: 32%;
	left: 1%;
}
.tag-graphic::after {
    border-width: 6px 6px 6px 0;
    border-color: transparent #e6007e transparent transparent;
    top: 50%;
    right: -6px;
    transform: translateY(-50%) rotate(180deg);
}

/* Creativity 靠左標籤 */
.tag-creativity {
	z-index: 200;
    background-color: #f89b29;
	bottom: 30%;
	left: 10%;
}
.tag-creativity::after {
    border-width: 6px 6px 6px 0;
    border-color: transparent #f89b29 transparent transparent;
    top: 50%;
    right: -6px;
    transform: translateY(-50%) rotate(180deg);
}

/* UIUX 靠右標籤 */
.tag-uiux {
	z-index: 200;
    background-color: #333;
    bottom: 60%;
	right: 0%;
}
.tag-uiux::after {
    border-width: 8px 0 8px 8px;
    border-color: transparent transparent transparent #333;
    top: 50%;
    left: -8px;
    transform: translateY(-50%) rotate(180deg);
}
  
.jumbotron .logo-wrapper {
  position: relative;
  width: calc(320px + 160px); /* 比插圖多出80px邊距 */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.jumbotron .logo-glow {
	position: absolute;
	top: 0;
	left: 0;
	transform: scale(1.2);
	filter: blur(50px);
	background: linear-gradient(270deg, #DBE7FE20 , #F7FAFF60 );
	background-size: 150% 150%;
	animation: animateGlow 10s ease infinite;
	border-radius: 50%;
	z-index: 1;
  	width: 40vw;         /* 自動縮放，最大寬度為視窗 40% */
  	max-width: 320px;    /* 避免太大 */
  	aspect-ratio: 1 / 1; /* 讓高度等比例 */
 	margin: 0 auto;
  }
  
.jumbotron .logo-image {
  width: 320px;
  height: 320px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 768px){
	.tag{
		font-size: 12px;
	}
	.jumbotron{
		max-height: 320px;
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.tag-graphic {
		top: 12%;
		left: 1%;
	}
}


/* 發光動畫 */
@keyframes animateGlow {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
}

@media screen and (max-width: 768px) {

.jumbotron .logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
	height: 160px;
    position: relative;
}

.jumbotron .logo-wrapper .logo-glow{
    
    height: 160px;
    position: relative;
}

.jumbotron .logo-wrapper .logo-glow {
	z-index: 1;
	transform: scale(1.05);
	filter: blur(12px);
	background: linear-gradient(270deg, #fff6ee60 , #f7d51367 );
	background-size: 200% 200%;
	animation: animateGlow 10s ease infinite;
	border-radius: 50%;
	position: absolute;  /* 還是需要絕對定位讓它在圖片下方 */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1.05); /* 中心對齊 + scale */
}

.jumbotron .logo-wrapper .logo-image {
	height: 200px;
	z-index: 2;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
}

/* About Section */

.title-group {
	display: flex;
	flex-direction: column;
	gap: 16px;
}


/* Skill Section */
@media screen and (max-width: 768px){



}
.skill-item .preview{
	padding-top: 16px;
}

.title-txt{
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.skill-item{
	display: flex;
	flex-direction: column;
	gap: 24px;
	flex: 1;
}


/* UI Design Section */
/* 卡片3欄位 */
.wrap{
	max-width: 1152px;
	margin: 0 auto;
}

/* 三欄容器 */
.cards{
	display: flex;
	gap: 24px;              /* 欄間距 */
	flex-wrap: wrap;        /* 窄螢幕自動換行 */
	align-items: stretch;   /* 讓高度一致 */
}

/* 卡片 */
.card{
	background: var(--bg);
	border: 1px solid #efefef;
	border-radius: 12px;
	padding: 28px;
	flex: 1 1 calc(33.333% - 16px);  /* 3 欄 */
	min-width: 280px;                 /* 避免太窄 */
	display: flex;
	flex-direction: column;
	gap: 12px;
	box-shadow: 0 2px 8px rgba(0,0,0,.04);
}

.tag-outline{
    display: inline-block;
	align-self: flex-start; /* 關鍵：依文字寬度 */
	width: auto;
	border: 1px solid #666;
    font-size: 12px;
    line-height: 1;
    padding: 4px 8px;
    border-radius: 4px;
    background: #F8F8F8;
    color: #666;
    margin-bottom: 8px;
  }

.spacer{
	flex: 1;   /* 推開按鈕，讓卡片底部對齊 */
}
  
@media (max-width: 992px){
    .card{ flex-basis: calc(50% - 12px); } /* 小於 900px 改為兩欄，小於 640px 一欄 */
  }
@media (max-width: 640px){
    .card{ flex-basis: 100%; }
  }

  /* Contact Section */
.contact-container{
	display: flex;
	flex-direction: row;
	gap: 24px;
}

.contact-info{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
}
.info-item {
	display: flex;
	align-items: center; /* 垂直置中對齊 */
	gap: 16px;
}

@media screen and (max-width: 768px) {
	.contact-info{
		flex-direction: column;
		align-items: baseline;
		width: 100%;
	}  

	.info-item {
		align-items: flex-start;
		gap: 8px;
	}

	.contact-container{
		flex-direction: column;
		gap: 12px;
	}
}
