@charset "utf-8";

/* -------------------------- *\
	Globel
\* -------------------------- */
*{
	box-sizing: border-box;
	position: relative;
}
html,body{
	font-family: 'Noto Sans TC', '微軟正黑體', 'PingFang TC', Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	font-weight: bold;
	color: #191919;
}
h1{
	font-size:36px;	
}
h2{
	font-size:28px;
	line-height: 1.4;	
}
h3{
	font-size:24px;
	line-height: 1.4;	
}
h4{
	font-size: 20px;
	line-height: 1.4;
}
h5{
	font-size:16px;
	line-height: 1.4;
}
h6{
	font-size:14px;
	line-height: 1.4;
}
ul{
	margin: 0;
	padding: 0;
	font-size: 14px;
	list-style: none;
}
a{
	text-decoration: none;
	color: #414141;
}
p{
	line-height: 1.5 ;
	margin: 0;
}

li{
	font-size: 14px;
	line-height: 150%;
	color: #414141;
}
.sm-title {
	font-size: 14px;
	font-weight: normal;
	color: #666;
}
.text-primary {
  color: #7B6453; /* 主要品牌色 */
}
.text-cta {
  color: #EB9164; /* 次要色 */
}

.text-highlight {
  color: #FF5722; /* 強調用色*/
}
.highlight {
	color: #EB9164;
	font-weight: bold;
}
.para-16{
	color: #414141;
	font-size: 16px;
	line-height: 150%;
}
.para{
	color: #414141;
	font-size: 14px;
	line-height: 150%;
}
.text-primary-blue{
	color: #0040BD;
}
.text-white {
	color: #fff;
}

/* Color BG*/
.noise-bg {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #f0f0f0;
  padding: 20px;
}

.noise-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.5' numOctaves='3' /%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.15'/%3E%3C/svg%3E");
  pointer-events: none;
}

.hero-bg-grey{
	background-color: #efefef;
}
.bg-white{
	background-color: #fff;
}
.hero-bg-blue{
	background-color: #185ADB;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* 文字相關 */
.t-center{
	text-align: center;
}
/* 連動的 google font */
.anton-regular {
	font-family: "Anton", sans-serif;
	font-weight: 400;
	font-style: normal;
  }
.cal-sans-regular {
	font-family: "Cal Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.archivo-black-regular {
	font-family: "Archivo Black", sans-serif;
	font-weight: 400;
	font-style: normal;
  }
.rubik-dirt-regular {
	font-family: "Rubik Dirt", system-ui;
	font-weight: 400;
	font-style: normal;
}


/* -------------------------- *\
	Layout
\* -------------------------- */

/* flex+垂直v向下排列 間距為8px */
.flex-v-8{
	display: flex;
	flex-direction: column;
	gap: 8px;	
}
.flex-v-4{
	display: flex;
	flex-direction: column;
	gap: 4px;	
}

/* -------------------------- *\
	Component
\* -------------------------- */

/* lightbox  */

.lightbox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 999;
  }
  
  .lightbox.active {
	display: flex;
  }
  
  .lightbox img {
	max-width: 90%;
	max-height: 90%;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(255,255,255,0.3);
	transition: transform 0.3s ease;
  } 
/* btn */
.btn{
	display: inline-block;
	align-self: flex-start;
	width: auto;
	vertical-align: top;
	font-size: 16px;
	line-height: 24px;
	padding: 8px 16px;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 4px;
	transition: all 0.3s;
}
/* 主要的按鈕 */
.btn.btn-primary{
	background-color: #185ADB;
	border: 1px solid #185ADB;
	color: #fff;
}
.btn.btn-primary:hover{
	background-color: #0040BD;
	border: 1px solid #0040BD;
}
/* outline 按鈕 */
.btn.btn-secondary{
	border: 1px solid #185ADB;
	color: #185ADB;
}
.btn.btn-secondary:hover{
	background-color: #185ADB;
	color: #fff;
}
/* basic 按鈕 */
.btn.btn-basic{
	background-color:#191919;
	border: 1px solid #191919;
	color: #fff;
}
.btn.btn-basic:hover{
	background-color: #333;
	border: 1px solid #333;
}

/* 按鈕大小的設定 */
.btn.btn-lg{
	padding:12px 16px;
}
.btn.btn-sm{
	padding:4px 8px;
}
.btn-group-center{
	display: flex;
    gap: 16px;
	text-align: left;
}

.btn-group-right{
	text-align: right;
}
.btn-group-right .btn{
	margin-left: 24px;
}
@media screen and (max-width: 540px){

	.btn-group-center .btn{
		margin-left: 0;
		margin-right: 0;
		
	}
	.btn-group-center .btn:last-child{
		margin-bottom: 0;
	}
}


/* navbar */
.navbar {
	height: 64px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	z-index: 500;
	top: 0;
	left: 0;
	border-radius: 0 0 16px 16px; 
  }
  
  /* 這裡是核心：控制內容不會貼邊 */
  .navbar .container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 24px; /* 這行最重要：保證左右 padding 不貼邊 */
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
  }
  

.navbar .brand {
	width: 120px;
	height: 64px;
	background-image: url('../images/common/w_logo_name.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}

.navbar .nav {
	display: flex;
	justify-self: end; 
}

.navbar .nav .nav-item {
	list-style: none;
}

.navbar .nav .nav-link {
	display: block;
	color: #fff;
	line-height: 24px;
	padding: 20px 16px;
	transition: color 0.3s;
}

.navbar .nav .nav-link:hover {
	color: #fefefe;
}

.navbar .menu-toggle {
	width: 48px;
	height: 48px;
	position: relative;
	display: none;
	justify-self: end;
}

.navbar .menu-toggle span {
	display: block;
	width: 32px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.navbar .menu-toggle span:nth-child(1) {
	top: 12px;
}

.navbar .menu-toggle span:nth-child(2) {
	top: 22px;
}

.navbar .menu-toggle span:nth-child(3) {
	top: 32px;
}

.navbar .close-btn {
	display: none;
	width: 48px;
	height: 48px;
	position: absolute;
	right: 16px;
	top: 8px;
}

.navbar .close-btn span {
	width: 40px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
}

.navbar .close-btn span:nth-child(1) {
	transform: translate(-50%, -50%) rotate(45deg);
}

.navbar .close-btn span:nth-child(2) {
	transform: translate(-50%, -50%) rotate(-45deg);
}

@media screen and (max-width: 992px) {
	.navbar .container {
	  padding: 0 16px;
	}
  }
@media screen and (max-width: 768px) {

	.navbar .nav {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		min-height: 100vh; /* 保證包覆整個螢幕 */
		background-color: #181818;
		z-index: 500;
		flex-direction: column;
		justify-content: center;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease-in-out;
	}

	#popup-menu:target {
		opacity: 1;
		visibility: visible;
	}

	.navbar .nav .nav-link {
		text-align: center;
		padding: 16px;
	}

	.navbar .menu-toggle {
		display: block;
	}

	.navbar .close-btn {
		display: block;
	}
}



/* footer */
.footer {
 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fefefe;
}

.footer-hero {
  position: relative;
  padding: 40px 20px;
}

.footer .mask-dark {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.footer .container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.footer-brand {
  display: block;
  width: 100px;
  height: 36px;
  background-image: url('../images/common/w_logo_name.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.footer-nav {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-link {
	font-size: 14px;
	color: #fefefe;
	text-decoration: none;
	padding: 8px 12px;
	transition: color 0.3s;
}

.footer-link:hover {
  color: #0040BD;
}
.footer-copyright {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 4px 0;
  line-height: 14px;
}

@media screen and (max-width: 576px) {
  .footer-link {
    padding: 8px;
  }
  .footer-nav {

	gap: 8px;

	}
}

/* 釘選導覽列 */
.sub-nav {
	
	display: none; /* 預設不出現 */
	position: fixed;
	top: 120px;
	width: auto;
	height: auto;
	background: white;
	z-index: 999;
	border-radius: 0 4px 4px 0;
	box-shadow: 0 4px 12px rgba(115, 115, 115, 0.1);
  }
  
.sub-nav ul {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	justify-content: center;
	gap: 24px;
	list-style: none;
	margin: 0;
	padding: 8px;

}

.sub-nav li a {
	text-decoration: none;
	color: #191919;
	font-weight: bold;
	font-size: 12px;
}

.sub-nav li a.active {
	color: #007bff; 
	border-bottom: 2px solid #007bff;
}
.sub-nav.active {
	display: block; /* 出現 */
}
@media (max-width: 768px) {
  .sub-nav,
  .sub-nav.active {
    display: none;
  }
}
/* 初始狀態：元素不可見且稍稍向下移動 */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(80px); /* 向下移動80px */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* 定義動畫效果和時間 */
}

/* 最終狀態：元素可見且回到原始位置 */
.animate-on-scroll.is-visible {
  opacity: 1;
  transform: translateY(0);
}
