
			<footer class="footer">
				<div class="footer-hero">
				<div class="mask-dark"></div>
				<div class="container">
					<a href="/" class="footer-brand" aria-label="Back to homepage"></a>
					<nav class="footer-nav">
					<a href="https://chingjungkuan.github.io/#about" class="footer-link">ABOUT</a>
					<a href="https://chingjungkuan.github.io/#ui-design" class="footer-link">UI DESIGN</a>
					<a href="https://chingjungkuan.github.io/#contact" class="footer-link">CONTACT</a>
					</nav>
				</div>
				</div>
				<div class="footer-copyright">
                <p>© <span class="year"></span> Lucy Kuan · All rights reserved.</p>
				
				</div>
			</footer>

