		<!-- Start header -->
		<header class="header">
			<div class="navbar">
				<div class="container">
					<a href="https://chingjungkuan.github.io" class="brand">
						<h1>Lucy Kuan</h1>
					</a>
					<ul id="popup-menu" class="nav">
						<li class="nav-item"><a href="https://chingjungkuan.github.io/#about" class="nav-link">ABOUT</a></li>
						<li class="nav-item"><a href="https://chingjungkuan.github.io/#skills" class="nav-link">SKILL</a></li>
						<li class="nav-item"><a href="https://chingjungkuan.github.io/#ui-design" class="nav-link">UI DESIGN</a></li>
						<li class="nav-item"><a href="https://chingjungkuan.github.io/#contact" class="nav-link">CONTACT</a></li>
						<a href="#!" class="close-btn">
							<span></span>
							<span></span>
						</a>
					</ul>
					<a href="#popup-menu" class="menu-toggle">
						<span></span>
						<span></span>
						<span></span>
					</a>
				</div>
			</div>
		</header>
		<!-- End header -->
